.Slider_home {

  width: 100%;
}

.sliderhomerecruit_imgs {
  height: 200px;
  width: 100%;
}

.sliderhomerecrit_number {
  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  color: #ffffff;
}

.sliderhomerecruit_box1_h4 {
  font-family: "Titan One";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #f2f2f2;
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 5px;
}

.sliderhomerecruit_box1_p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 5px;
}

.sliderhomerecuit_p,
.sliderhomerecruit_imgs {
  display: flex;
  justify-content: center !important;
  align-items: center;
  transition: 0.2s ease-in-out;
}

.sliderhomerecruit_box {
  background-image: linear-gradient(90deg, #8D269C 0%, #4317A7 100%);
  /* backdrop-filter: blur(22.5px); */
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 1rem;
  margin: 0% 10%;
}

.sliderhomerecruit_box:hover {
  box-shadow: 0px 0px 10px 2px #ed1556, 0 0 10px 4px rgba(54, 0, 201, 0.979);
}

.sliderhomerecruit_images:hover {
  filter: drop-shadow(10px 10px 5px rgba(193, 5, 105, 0.7));
}

/*loading css*/
.music-waves-2 {
  height: 40px;
  display: flex;
  gap: 0.1rem;
  justify-content: center;
  align-items: center;
}

.music-waves-2>span {
  display: block;
  position: relative;
  background: #000;
  height: 100%;
  width: 0.3rem;
  border-radius: 1rem;
  margin: 0 0.2rem;
  animation: waves-2 1.2s linear infinite;
}

.music-waves-2>span:nth-child(1) {
  animation-delay: 0s;
  background: #ff8c00;
}

.music-waves-2>span:nth-child(2) {
  animation-delay: 0.3s;
  background: #ffff00;
}

.music-waves-2>span:nth-child(3) {
  animation-delay: 0.6s;
  background: #26d53a;
}

.music-waves-2>span:nth-child(4) {
  animation-delay: 0.9s;
  background: #26e6a3;
}

.music-waves-2>span:nth-child(5) {
  animation-delay: 0.6s;
  background: #1da8e2;
}

.music-waves-2>span:nth-child(6) {
  animation-delay: 0.3s;
  background: #9b53ff;
}

.music-waves-2>span:nth-child(7) {
  animation-delay: 0s;
  background: #d418d9;
}

.flip-animation {
  display: flex;
  gap: 0.1rem;
  justify-content: center;
  transform: translate3d(0, 0, 0);
}

.flip-animation>span {
  font-size: 1rem;
  animation: flipping 1s infinite;
}

.flip-animation>span:nth-child(1) {
  animation-delay: 0.1s;
  color: #ff8c00;
}

.flip-animation>span:nth-child(2) {
  animation-delay: 0.25s;
  color: #ffff00;

}

.flip-animation>span:nth-child(3) {
  animation-delay: 0.4s;
  color: #26d53a;
}

.flip-animation>span:nth-child(4) {
  animation-delay: 0.55s;
  color: #26e6a3;
}

.flip-animation>span:nth-child(5) {
  animation-delay: 0.7s;
  color: #1da8e2;
}

.flip-animation>span:nth-child(6) {
  animation-delay: 0.85s;
  color: #9b53ff;
}

.flip-animation>span:nth-child(7) {
  animation-delay: 1s;
  color: #d418d9;


  /*end loading css*/
}

@keyframes flipping {

  0% {
    transform: scale(1);
  }
  50%{
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes waves-2 {
  50% {
    height: 20%;
  }

  100% {
    height: 100%;
  }
}

/* css slide */

.slider-slide {
  margin: 5% 0% 5% 7%;
  height: 300px;
  width: 85% !important;
  z-index: 10;
  border: #ed1556 3px solid;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 4px #ed1556, 0 0 10px 10px rgba(54, 0, 201, 0.979);
}

.box_available {
  margin: 5% 0% 5% 7%;
  width: 85%;
  height: 300px;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: #ed1556 3px solid;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 4px #ed1556, 0 0 10px 10px rgba(54, 0, 201, 0.979);
  background: linear-gradient(145deg, #ae00c9 0%, #3900be 100%)
}

.box_available_p {
  width: 90%;
  font-family: Sigmar One;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  /* 33.25px */
  text-transform: uppercase;
}

@media only screen and (max-width: 1300px) {
  .sliderhomerecruit_box1_h4 {
    font-size: 1rem;
  }

  .sliderhomerecruit_box1_p {
    font-size: 0.7rem;
  }

  .sliderhomerecruit_box {
    gap: 0.2rem;
  }


}

@media screen and (max-width: 768px) {
  .sliderhomerecruit_box1_h4 {
    font-size: 1rem;
  }

  .sliderhomerecruit_box1_p {
    font-size: 0.7rem;
  }

  .sliderhomerecruit_box {
    gap: 0.2rem;
  }

  .box_available_p {
    width: 90%;
    font-family: Sigmar One;
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: 30px;
    /* 33.25px */
    text-transform: uppercase;
  }
}